@use '../util/' as u;

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: u.rem(40);
    margin-inline: auto;
    width: min(100% - u.rem(40), u.rem(1000));

    @include u.breakpoint(large){
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto;
    }

    &__main, 
    &__sidebar {
        padding: u.rem(40);
    }

    &__main {
        background-color: hsl(180, 100%, 20%);
        text-align: center;

        @include u.breakpoint(medium) {
            background-color: hsl(246, 94%, 27%);
        }
        
        @include u.breakpoint(large) {
            background-color: hsl(246, 100%, 10%);
        }
    }

    &__sidebar {

        @include u.breakpoint-down(medium) {
            text-align: center;
        }

        @include u.breakpoint(medium) {
            text-align: center;
        }
        
    }

    &__widget {
        background-color: hsl(60, 4%, 57%);
        padding: u.rem(16);

        &--green {
            @extend .grid__widget;
            background-color: greenyellow;
        };
    }
}